* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 960px;
    margin: 0 auto;
    font-size: 18px;
    font-family: sans-serif;
    background-image: url('./images/grass-lines.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: fixed;
    z-index: 1;
    width: 960px;
}

.header {
    width: 100%;
    background-color: #DED9D6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #252D35;
}

.logo-container {
    background-color: #DED9D6;
    width: 15%;
    display: flex;
    margin: 10px 10px 0 15px;
}

.feature-1 {
    width: 100%;
    justify-content: flex-start;
}

.headings {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 82%;
    margin-bottom: 10px;
}

.title {
    margin-top: 30px;
    font-family: 'Calligraffitti', cursive;
    font-size: 55px;
    padding: 5px 5px 0 5px;
}

.subtitle {
    font-size: 25px;
}

.subtitle-2 {
    font-size: 20px;
}

.title,
.subtitle,
.subtitle-2 {    
    text-align: center;
    margin: 0 100px 0 50px;
}

.menu {
    width: 100%;
    height: 50px;
    background-color: #DED9D6;
}

.u-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 50px 10px 50px;
}

.btn {
    padding: 5px 15px;
    border: 1px solid #252D35;
    border-radius: 8px;
    font-size: 16px;
    color: #252D35;
    display: inline;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #252D35;
}

a:hover {
    color: #726E5F;
}

.page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 13em;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
}

.content {
    height: auto;
    width: 66%;
    margin-right: 35px;
    margin-bottom: 20px;
    color: #252D35;
    background-color: #DED9D6;
    opacity: 0.9;
}

.content-head-container {
    width: 300px;
    margin: 0 auto;
    
}

.content-head {
    text-align: center;
    border-bottom: 1px solid #252D35;
    margin-top: 10px;
}

.first-content {
    margin: 6px;
    padding: 10px;
    text-align: justify;
}

.aside {
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    color: #252D35;
}

.sign-up {
    
    background-color: #DED9D6;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-bottom: 20px;
    opacity: 0.9;
}

.sign-up-email {
    text-align: center;
    width: 100%;
    margin: 10px 0;
    
}

.email-address-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 99%;
}

.enter-email {
    text-align: center;
    margin: 10px 0;
}

.btn-alt {
    padding: 5px 10px;
    border: 1px solid #252D35;
    border-radius: 5px;
    cursor: pointer;
}


.location-map {
    height: 428px;
    width: 100%;
}

.feature-img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.feature-2,
.feature-3 {
    width: 49%;
    
}

.feature-img,
.feature-logo {
    width: 100%;
}


.feature-img {
    height: 90%;
}

/* ABOUT PAGE */

.aside-about {
    width: 30%;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    color: #252D35;
}

.about-crew-ul-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.about-crew-ul > li {
    list-style-type: none;
}

.about-crew-ul li a {
    display: block;
}

.crew {
    text-align: center;
    margin: 5px 10px;
    align-content: center;
}

.crew-img {
    width: 80%;
    margin-top: 10px;
    justify-content: center;
}

.crew-img:last-child {
    margin-bottom: 5px;
}

.pole-barn-container {
    margin: 20px 0;
}

.pole-barn-img {
    width: 100%;
}

.about-pole-barn {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: #DED9D6;
    opacity: 0.9;
}

.feature-about {
    margin-bottom: 20px;
}

.about-feature-img {
    width: 100%;
}

/* CONTACT PAGE */

.contact-content {
    width: 100%;
}

.contact-para {
    text-align: center;
}

.contact-form-img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-img {
    width: 48%;
    margin-bottom: 20px;
}

form {
    background-color: #DED9D6;
    margin-bottom: 20px;
    opacity: 0.9;
    width: 48%;
}

.contact-group {
    color: #252D35;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    padding: 10px 10px 0 10px;
    border: none;
}

.contact-group input,
.contact-group textarea {
    border: 1px solid #252D35;
    border-radius: 3px;
    width: 90%;
    height: 30px;
    margin-bottom: 5px;
}

.contact-group textarea {
    height: 90px;
}

label {
    margin-left: 20px;
}

input {
    font-size: 16px;
    padding-left: 2px;
}

.btn-form {
    cursor: pointer;
    border: 1px solid #252D35;
    padding: 11px 30px;
    width: 40%;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

/* DESIGN PAGE */

.design-main {
    justify-content: center;
}

.design-vid {
    display: block;
    margin: 0 auto;
}

.design-tools {
    width: 100%;
}

/* FOOTER */

.footer {
    width: 100%;
    height: 100px;
    background-color: #DED9D6;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    opacity: 0.9;
}

.footer-title {
    margin: 10px 30px 0 50px;
    font-family: 'Calligraffitti', cursive;
    font-size: 28px;
}

.footer-subtitle {
    font-size: 22px;
    text-align: center;
}

.footer-u-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.footer-u-list > li {
    margin-right: 55px;
}
